*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(21, 21, 25);
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
}

.board {
    
    background-color: rgb(54, 62, 74);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2.5px; 
    border: none;
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 117px;
    height: 117px;
    background-color: rgb(21, 21, 25);
    transition: background-color 250ms ease-out;
           
}

.x, .o {
    width: calc(0.9 * 117px);
    height: calc(0.9 * 117px);
    fill: rgb(255, 255, 255);
}

.o {
    width: calc(0.8 * ((0.9 * 117px)));
    height: calc(0.8 * ((0.9 * 117px)));
}

.light {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 25px;
    height: 25px;
    fill: rgb(255, 255, 255);
    cursor: pointer;
    transition: fill 250ms ease-out;
}

.win-msg {
    padding: 0.5rem;
    margin-top: 4rem;
    background-color: rgb(21, 21, 25);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
    cursor: pointer;
    transition: color 250ms ease-out;
}

.score-msg {
    padding: 0.5rem;
    margin-top: 4rem;
    background-color: rgb(21, 21, 25);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 500;
}

.win-msg::before {
    content: "t";
    color: rgb(21, 21, 25);
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
    pointer-events: none;
}

.win-msg:hover {
    color: rgb(107, 125, 148);
}

.cell[data-value=""]:hover {
    background-color: rgb(35, 35, 41);

}

.light:hover{
    fill: rgb(107, 125, 148);
}
    
